main {
    .tituloSeccionComidas {
        color: $blancoPaleta;
        font-size: 50px;
        text-align: center;
        margin-bottom: 6rem;
    }
    .contenedorProductos {
        display: flex; 
        justify-content: space-evenly;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0 5rem;
        .cardComidas {
            width: 18rem;
            border-color: $beigePaleta;
            .imgComidas {
                height: 200px;
                object-fit: cover;
            }
            .cuerpoCard {
                background-color: $negroPaleta;
                .tituloComida {
                    color: $blancoPaleta;
                    font-size: 20px;
                }
                .precioComida {
                    @extend .tituloComida; 
                    font-size: 15px;
                    margin: 1.5rem 0;
                }
                .btnAgregarCarrito {
                    background-color: $celestePaleta;
                    color: $blancoPaleta;
                    width: 100%;
                    margin: 0 auto;
                    &:hover {
                        background-color: #2c4b4d;
                    }
                }
            }
        }
    }
}