header {
    position: sticky;
    top: 0;
    background-color: $negroPaleta;
    z-index: 1000;
    nav {
        .contenedorNavbar {
            display: flex;
            justify-content: space-between;
            .logo {
                width: 6rem;
                border-radius: 10px;
                border: black 2px solid;
                margin: 1rem;
            }
            .contenedorLinksNav  {
                justify-content: end;
                .linksNav {
                    gap: 35px;
                    padding-right: 3rem;
                    a{
                        color: $blancoPaleta;
                    }
                }
                .canvasCarrito {
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
                    .iconoCarrito {
                        color: $blancoPaleta;
                        font-size: 30px;
                        margin-right: 0.5rem;
                    }
                    .contadorCarrito {
                        color: $blancoPaleta;
                        margin: 0;
                        background-color: $celestePaleta;
                        height: 24px;
                        width: 24px;
                        border-radius: 100%;
                        text-align: center;
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}