main {
    .contenedorGeneralBienvenida {
        height: 90vh;
        .contenedorImgTitulo {
            position: relative;
            .contenedorImgBienvenida {
                opacity: 0.15;
                display: flex;
                img {
                    width: 50%;
                }
            }
            .tituloBienvenida {
                @include posicionBienvenida (30%, 20px, $beigePaleta);
                span {
                    display: block;
                    font-size: 80px;
                }
            }
            h2 {
                @include posicionBienvenida (60%, 20px, $blancoPaleta);
            }
            .prueba {
                @include posicionBienvenida (80%, 20px, $blancoPaleta);
                width: 100%;
                a {
                    background-color: $celestePaleta;
                    padding: 1rem;
                    border-radius: 10px;
                    color: $blancoPaleta;
                    text-decoration: none;
                }
            }
        }
    }
}